.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: white;
    border-radius: 0.3rem;
}

.img{
    width: 200px;
    height: 200px;
    margin: 40px;
    background-color: blue;
    border-radius: 20px;
}